{% extends g_layout ? g_layout : ":layout.html.twig" %}

{% block title "Register" %}

{% block content %}
	<div class="register auth">
		<h3>
			Sign Up
			<div class="small">
				It's free and always will be.
			</div>
		</h3>
	    <form method="POST" id="create_user_auth" class="form">
	    	<div class="clearfix">
	      	  {{ form_widget(formView) }}
	      	</div>
	        <input type="submit" value="Register" />
	    </form>
	    
	    <script>
	    $(document).ready(function() {
	    	$('#create_user_auth').ajaxForm();
	    });
	    </script>
    </div>
{% endblock %}
