{% extends "ShadowBundle::layout.html.twig" %}

{% block title "Login" %}

{% block content %}
	<div class="login auth">
		<h3>
			Login with your account
		</h3>
	    <form method="POST" id="login_user_auth" class="form" 
	    	action="{{ path('odl_auth_auth_login') }}">
	    	
	        {{ form_widget(formView) }}
	        <input type="submit" value="Register" />
	    </form>
	    
	    <script>
	    $(document).ready(function() {
	    	$('#login_user_auth').ajaxForm();
	    });
	    </script>
    </div>
{% endblock %}
